.admin-tabs {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

.admin-tab {
  border: none;
  padding: 0.7rem 1.5rem;
  border-radius: 25px;
  cursor: pointer;
  background: #eee;
  font-weight: bold;
  transition: 0.3s;
}

.admin-tab.active {
  background: #7b2cbf;
  color: #fff;
}